header{
    background-color:white;
    /*box-shadow: inset 0 5px 15px 0 white;*/
    border-bottom: solid 1px #DDDDDD;
    /*margin-bottom: 10px;*/
}
.contact{
    position: relative;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 15px;
}
.sub_logo{
    margin-right: 5px;
}
.header_navi{
    position: relative;
    position: absolute;
    right: 10px;
    bottom: 0;
    top: 5px;
}

@media screen and (max-width: 1000px){
    .sub_logo{
      display: none;
    }
  }