a:hover{
    text-decoration: none;
}
body{
    width: auto;
}
main {
    /*float: left;
    width: 25%;*/
    display: flex;
    
}
nav{
    width:265px;
}
article{
    margin-top:10px;
    width: 1000px;
    margin: 10px 0 auto;
    margin-left: 10px;
}
.form_box{
    background-color: #EEEEEE;
    padding: 5px;
}
.wp_title {
    border-bottom: solid 1px #DDDDDD;
}
.list_title{
    border-bottom: solid 1px #DDDDDD;
    margin-top: 30px;
}