a:hover{
    text-decoration: none;
}
body{
    width: auto;
}
main {
    /*float: left;
    width: 25%;*/
    display: flex;
}
nav{
    width:265px;
}
article{
    margin-top:10px;
    width: auto;
}