a:hover{
    text-decoration: none;
}

main {
    /*float: left;
    width: 25%;*/
    display: flex;   
}

article{
    margin-top:10px;
    margin: 10px 0 auto;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
}
.form_box{
    background-color: #EEEEEE;
    padding: 5px;
}
.wp_title {
    border-bottom: solid 1px #DDDDDD;
}
.list_title{
    border-bottom: solid 1px #DDDDDD;
    margin-top: 30px;
}

article img{
    width:100%;
    max-width: 100%;
    height: auto;
}

/*横480px以下の時はフォームメニューを隠す*/
@media screen and (max-width: 1000px){
    .col-sm-2{
      display: none;
    }
  }